/*/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*layout*/
.wrap {
    width: 1024px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/bg.png);
    padding: 20px;

}

.header h1 a {
    background-image: url(../img/header_logo.png);
    width: 170px;
    height: 36px;
    display: block;
    float: left;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.header .menu {
    float: right;
}

.header .menu li {
    float: left;
    margin-top: 10px;
}

.header .menu li a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    padding-bottom: 20px;
}

.header .menu li a:hover {
    color: #00cc99;
    border-bottom: 5px solid #00cc99;
}

.cleanfix {
    clear: both;
}

.content {
    padding: 20px;
}

.footer {
    padding: 20px 20px 0px 20px;
    background-image: url(../img/bg2.png);
}

.footer h1 a {
    background-image: url(../img/footer_logo.png);
    display: block;
    width: 175px;
    height: 60px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.footer .icon {
    float: right;
}

.footer .icon li {
    float: left;
    padding: 15px;
}

/*index.html*/
.index-banner {
    background-image: url(../img/mask.png);
    height: 560px;
}

.index-banner h2 {
    color: #00cc99;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 100px;
    margin-left: 50px;
}

.index-banner h2 span {
    color: white;
}

.index-banner p {
    background-image: url(../img/btn.png);
    width: 220px;
    height: 52px;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

.index-banner p span {
    color: white;
    position: absolute;
    right: 40%;
    top: 30%;
    font-size: 18px;
}

.index-banner p:hover {
    cursor: pointer;
}

.index h3 {
    color: #00cc99;
    font-size: 30px;
    font-weight: bold;
    display: block;
    float: left;
}

.index h3 span {
    color: gray;
    font-size: 16px;
}

.more {
    display: block;
    float: right;
    border: 3px solid #00cc99;
    color: #00cc99;
    padding: 5px;
    border-radius: 15%;
}

.more:hover {
    cursor: pointer;
}

.index .main h4 {
    padding: 10px;
}

.index .main li {
    margin-top: 40px;
    width: 260px;
    float: left;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
    margin-bottom: 50px;
}

.index .main li p {
    color: gray;
    line-height: 1.5;
}

.index table {
    margin-top: 30px;
}

.index table th {
    width: 250px;
    background-color: #ebebeb;
    padding: 10px;
    font-weight: bold;
}

.index table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}

.green {
    color: #00cc99;
}

.form {
    background-color: #ebebeb;
    padding: 100px;
    margin-top: 30px;
}

.form h5 {
    font-size: 26px;
    line-height: 1.5;
    font-weight: bold;
    display: block;
    float: left;
}

.form .about {
    float: left;
    margin-left: 50px;
}

.form .about .btn {
    float: right;
    margin-top: 10px;
    background-color: #00cc99;
    color: white;
    width: 80px;
    height: 30px;
}

.form .about .btn:hover {
    cursor: pointer;
}

.form .about .text {
    width: 400px;
    height: 30px;
    margin-top: 5px;
}

/*course.html*/
.course-banner {
    background-image: url(../img/banner.png);
    height: 560px;
}

.course-banner h2 {
    color: white;
    font-size: 46px;
    margin-top: 120px;
    margin-left: 20px;
    float: left;
}

.course-banner h2 span {
    color: #00cc99;
    font-size: 30px;
}

.course-banner p {
    background-image: url(../img/btn.png);
    width: 220px;
    height: 52px;
    position: relative;
    margin-top: 250px;
    margin-left: 20px;
}

.course-banner p span {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 20%;
    top: 30%;
}

.course-banner p:hover {
    cursor: pointer;
}

.course-banner .logo {
    float: right;
    margin-top: 80px;
}

.course-banner .logo li {
    float: left;
    margin-right: 20px;
}

.course .teacher {
    padding: 20px 150px 20px 150px;
}

.course .teacher img {
    float: left;
}

.course .teacher p {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 60px;
    line-height: 1.5;
}

.course .teacher p span {
    color: #00cc99;
}

.course .teacher .teacher1 {
    float: right;
    color: gray;
    margin-top: 60px;
    margin-right: 60px;
    line-height: 1.5;
    list-style: disc;
}

.course h3 {
    font-size: 36px;
    color: #00cc99;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 30px;
    font-weight: bold;
}

.course h3 span {
    font-size: 20px;
    color: gray;
}

.course .special {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 20px;
    line-height: 1.5;
}

.course table {
    margin-left: 170px;
    margin-top: 30px;
    width: 600px;
}

.course table th {
    background-color: #ebebeb;

    text-align: left;
    padding: 20px;

}

.course table td {
    padding: 20px;
    color: gray;
}

.form h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    float: left;
    margin-left: 40px;
}

.form p {
    background-image: url(../img/btn.png);
    width: 220px;
    height: 52px;
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}

.form p span {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 20%;
    top: 30%;
}

.form p:hover {
    cursor: pointer;
}

/*Q&A.html*/
.qa-banner {
    background-image: url(../img/banner3.png);
    height: 560px;
    position: relative;

}

.qa-banner h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 1.5;
    margin-top: 100px;
}

.qa-banner h2 span {
    color: #00cc99;
    font-size: 26px;
}

.qa-banner .search {
    width: 500px;
    height: 30px;
    margin-left: 250px;
    margin-top: 30px;
}

.qa-banner img {
    position: absolute;
    right: 27%;
    bottom: 36%;
}

.qa-banner img:hover {
    cursor: pointer;
}

.qa {
    padding: 20px 160px 20px 60px;
}

.qa h3 {
    font-size: 30px;
    font-weight: bold;
    color: #00cc99;
    margin-top: 40px;
    margin-bottom: 40px;
}

.qa h3 span {
    color: gray;
    font-size: 16px;
}

.qa h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.qa p {
    color: gray;
    line-height: 1.5;
}

.qa p span {
    color: #00cc99;
}

.qa h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.qa li {
    color: gray;
    margin-left: 55px;
    padding-left: 20px;
    line-height: 1.5;
}

.qa .disc {
    list-style: disc;
}

.form h6 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    float: left;
}

.form .about-qa {
    float: right;

}

.form .btn-qa {
    float: right;
    width: 100px;
    height: 30px;
    background-color: #00cc99;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
}

.form .btn-qa:hover {
    cursor: pointer;
}

.form .text-qa {
    width: 350px;
    height: 30px;
    margin-top: 10px;
}

.form .area-qa {
    margin-top: 10px;
    margin-right: 10px;
    width: 350px;
    height: 150px;
}